//
// @author Will Steinmetz
// @file _buttons.scss
// @licence MIT
// This file defines the settings and includes for the button component available in Keroseen.
//

//
// button specific settings
// custom variables should start $keroseen_buttons_ to help namespace variables
//
$keroseen_buttons_custom-colors: false;
$keroseen_buttons_default-radius: 0.1875em;

// colors to render
$keroseen_buttons_render-colors: $keroseen-default-colors;
@if ($keroseen-custom-colors) {
    $keroseen_buttons_render-colors: $keroseen_buttons_render-colors + ' ' + $keroseen-custom-colors;
}
@if ($keroseen_buttons_custom-colors) {
    $keroseen_buttons_render-colors: $keroseen_buttons_render-colors + ' ' + $keroseen_buttons_custom-colors;
}

//
// include the components
// comment one out to not build it
//
/* ========== Keroseen buttons ========== */
@import 'skeleton';

// underscore theme
$keroseen_buttons_underscore-radius: 0.3125em;
@import 'underscore';

// metro theme
@import "metro";

// flat theme
@import "flat";

// gradient theme
@import "gradient";
