//
// @author Will Steinmetz
// @file _flat.scss
// @licence MIT
// This file defines the flat styles for the button component available in Keroseen.
//

a, button, input[type="submit"], input[type="button"] {
    &.keroseen-button {
        &.flat {
            @include single-transition(all, 0.1s, ease-in-out);
            font-weight: 100;
            padding: 0.375em 1.125em;
            @each $color in $keroseen_buttons_render-colors {
                &.#{nth($color, 1)} {
                    background-color: lighten(nth($color, 2), 2.5%);
                    color: nth($color, 5);
                    &:hover:not(.disabled), &:focus:not(.disabled) {
                        background-color: lighten(nth($color, 4), 2.5%);
                    }
                }
            }
            &.primary {
                padding: .675em 1.625em;
            }
            &.rounded {
                @include border-radius($keroseen_buttons_default-radius);
                &.primary {
                    @include border-radius($keroseen_buttons_default-radius + 0.125);
                }
            }
        }
    }
}
