//
// @author Will Steinmetz
// @file _metro.scss
// @version 0.0.1
// @licence MIT
// This file defines the metro styles for the button component available in Keroseen.
//

a, button, input[type="submit"], input[type="button"] {
    &.keroseen-button {
        &.metro {
            padding: 0.375em 1.125em;
            @include single-transition(all, 0.1s, ease-in-out);
            @each $color in $keroseen-default-colors {
                &.#{nth($color, 1)} {
                    background-color: nth($color, 2);
                    border: solid 1px nth($color, 3);
                    color: nth($color, 5);
                    &:hover:not(.disabled), &:focus:not(.disabled) {
                        background-color: lighten(nth($color, 2), 5%);
                        @include single-box-shadow(rgba(nth($color, 4), 0.5), 0, 0, 0.5em);
                    }
                    &:active:not(.disabled) {
                        background-color: darken(nth($color, 2), 5%);
                    }
                }
            }
            &.primary {
                padding: .675em 1.625em;
            }
        }
    }
}
