//
// @author Will Steinmetz
// @file _skeleton.scss
// @version 0.0.1
// @licence MIT
// This file defines the bare skeleton styles for the button component available in Keroseen.
//

a, button, input[type="submit"], input[type="button"] {
    &.keroseen-button {
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.25em 0.625em;
        color: $keroseen-base-font-color;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}
