//
// @author Will Steinmetz
// @file _underscore.scss
// @version 0.0.1
// @licence MIT
// This file defines the underscore styles for the button component available in Keroseen.
//

a, button, input[type="submit"], input[type="button"] {
    &.keroseen-button {
        &.underscore {
            @include single-transition(all, 0.1s, ease-in-out);
            @each $color in $keroseen-default-colors {
                &.#{nth($color, 1)} {
                    background-color: nth($color, 3);
                    @include single-box-shadow(nth($color, 2), 0, 0.1875em, 0);
                    color: nth($color, 5);
                    &:hover:not(.disabled), &:focus:not(.disabled) {
                        background-color: nth($color, 2);
                        @include single-box-shadow(nth($color, 3), 0, 0.1875em, 0);
                    }
                    &:active:not(.disabled) {
                        margin-top: 0.1875em;
                        @include single-box-shadow(none);
                    }
                }
            }
            &.rounded {
                @include border-radius($keroseen_buttons_underscore-radius);
                &.primary {
                    @include border-radius($keroseen_buttons_underscore-radius + 0.125);
                }
            }
        }
    }
}
