//
// @author Will Steinmetz
// @file _grid.scss
// @package keroseen.grid
// @licence MIT
// This file defines the grids available in Keroseen.
//

// generate column sizing
@mixin keroseen_grid_generate-column($width, $grid, $i, $size) {
  .#{$size}-#{$i} {
    width: $width;
    @if ($i == $grid) {
      margin-left: 0;
    }
  }
}

// clearfix
@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* ========== Keroseen grids ========== */
.keroseen-grid {
  @include clearfix;
  .row {
    @include clearfix;
    &.spacer {
      margin-bottom: 1em;
    }
  }
  .col {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1%;
    margin-left: 1%;
    float: left;
    &:first-child {
      margin-left: 0;
    }
  }
  @each $grid in $keroseen-grids {
    &.grid-#{$grid} {
      $col-width: (100% - (1 * ($grid - 1))) / $grid;
      @for $i from 1 through $grid {
        $width: ($i * $col-width) + (($i - 1) * 1);
        @include keroseen_grid_generate-column($width, $grid, $i, large);
        @if ($i < $grid) {
          .push-#{$i} {
            margin-right: 100% - $width;
          }
          .pull-#{$i} {
            margin-right: 0;
            margin-left: 100% - $width;
          }
        }
      }
      // tablets
      @media screen and (max-width: 1024px) {
        @for $i from 1 through $grid {
          $width: ($i * $col-width) + (($i - 1) * 1);
          @include keroseen_grid_generate-column($width, $grid, $i, middle);
        }
      }
      // tablets portrait
      @if $keroseen-grids-portrait-breaks {
        @media screen and (max-width: 720px) {
          @for $i from 1 through $grid {
            $width: ($i * $col-width) + (($i - 1) * 1);
            @include keroseen_grid_generate-column($width, $grid, $i, md-portrait);
          }
        }
      }
      // mobile
      @media screen and (max-width: 568px) {
        @for $i from 1 through $grid {
          $width: ($i * $col-width) + (($i - 1) * 1);
          @include keroseen_grid_generate-column($width, $grid, $i, small);
        }
      }
      // mobile portrait
      @if $keroseen-grids-portrait-breaks {
        @media screen and (max-width: 320px) {
          @for $i from 1 through $grid {
            $width: ($i * $col-width) + (($i - 1) * 1);
            @include keroseen_grid_generate-column($width, $grid, $i, sm-portrait);
          }
        }
      }
    }
  }
  .centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
