//
// @author Will Steinmetz
// @file _basic.scss
// @licence MIT
// This file defines the bare skeleton styles for the button component available in Keroseen.
//

.keroseen-panel {
    &.basic {
        @each $color in $keroseen_buttons_render-colors {
            &.#{nth($color, 1)} {
                &.bound {
                    border-color: nth($color, 2);
                }
                header, footer {
                    background-color: nth($color, 3);
                    color: nth($color, 5);
                }
                &.lighten {
                    header, footer {
                        background-color: nth($color, 6);
                    }
                }
                header {
                    border-bottom-color: nth($color, 2);
                }
                footer {
                    border-top-color: nth($color, 2);
                }
            }
        }
    }
}
