//
// @author Will Steinmetz
// @file _underscore.scss
// @licence MIT
// This file defines the bare underscore styles for the button component available in Keroseen.
//

.keroseen-panel {
    &.underscore {
        header, footer {
            background-color: transparent;
            border-bottom: none;
        }
        @each $color in $keroseen_buttons_render-colors {
            &.#{nth($color, 1)} {
                &.bound {
                    border: none;
                }
                header {
                    @include single-box-shadow(nth($color, 2), 0, 0.1875em, 0);
                }
                footer {
                    border-top-color: nth($color, 2);
                }
            }
        }
    }
}
