doctype html
html(lang="en")
  head
    title Keroseen Grid Demo
    link(href="../dist/keroseen-grid.min.css", rel="stylesheet", media="screen")
    link(href="styles.css", rel="stylesheet", media="screen")

  body
    h1 Keroseen Grid Demo

    p By default, the grid system builds with 9, 12, 16, 20, and 24 column grids. This can be changed by updating the value in /src/sass/_settings.sass to include more or fewer grids and running the Gulp task.

    p Each grid system comes in five sizes: x-small, small, med, large, and x-large. By default, the latter four also have corresponding breakpoints for when the screen is in portrait orientation.

    p The columns had been offset in one of three ways:
    ul
      li
        | Putting space between the columns by using the 
        code .push-#
        |  class
      li
        | Right-aligning the columns by using the 
        code .pull-#
        |  class
      li
        | Center a column using the 
        code .centered
        |  class

    h2 Grid 9
    section.keroseen-grid.grid-9
      .row.spacer
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
      .row.spacer
        .col.small-2 .small-2
        .col.small-3 .small-3
        .col.small-4 .small-4
      .row.spacer
        .col.small-4.centered .small-4.centered
      .row.spacer
        .col.small-2.push-1 .small-2.push-1
        .col.small-6 .small-6
      .row.spacer
        .col.small-3 .small-3
        .col.small-2.pull-1 .small-2.pull-1

    h2 Grid 12
    section.keroseen-grid.grid-12
      .row.spacer
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
        .col.small-1 .small-1
      .row.spacer
        .col.small-2 .small-2
        .col.small-4 .small-4
        .col.small-6 .small-6
      .row.spacer
        .col.small-5.centered .small-5.centered
      .row.spacer
        .col.small-2.push-3 .small-2.push-3
        .col.small-7 .small-7
      .row.spacer
        .col.small-3 .small-3
        .col.small-3.pull-1 .small-3.pull-1
    
    h2 Grid 16
    h2 Grid 20
    h2 Grid 24
