doctype html
html(lang="en")
  head
    title Keroseen Grid Demo
    link(href="../dist/keroseen-grid.min.css", rel="stylesheet", media="screen")
    link(href="styles.css", rel="stylesheet", media="screen")

  body
    include demo.jade
