//
// @author Will Steinmetz
// @file _skeleton.scss
// @licence MIT
// This file defines the bare skeleton styles for the form element component available in Keroseen.
//

//
// add .keroseen-form to automatically apply the styles to all form elements
//
input[type="text"], input[type="password"], textarea {
    &.keroseen-form-input {
        @include single-transition(all, 0.1s, ease-in-out);
        outline: none;
        font-size: 100%;
        padding: 0.375em;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        border: solid 1px darken(nth(nth($keroseen-default-colors, 1), 2), 5%);
        color: lighten(nth(nth($keroseen-default-colors, 1), 5), 15%);
        &:focus {
            border-color: nth(nth($keroseen-default-colors, 1), 4);
            color: nth(nth($keroseen-default-colors, 1), 5);
        }
        &.error {
            font-weight: bold;
            color: #cb1100;
            @include single-box-shadow(rgba(#a10, 0.15), 0, 0, 0.5em);
            &::-webkit-input-placeholder { color: #d10; }
            &:-moz-placeholder { color: #d10; }
            &::-moz-placeholder { color: #d10; }
            &:-ms-input-placeholder { color: #d10; }
            &:focus {
                color: #a10;
                @include single-box-shadow(rgba(#a10, 0.5), 0, 0, 0.5em);
            }
        }
        &.rounded {
            @include border-radius($keroseen_form-elements_default-radius);
        }
    }
}
